
<!--django templates 공식문서-->
<!--https://docs.djangoproject.com/en/3.0/topics/templates/-->

{% extends 'main/main.html' %}
{% block content %}

<div class="container my-3">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <td>번호</td>
                <td>제목</td>
                <td>내용</td>
                <td>생성일</td>
            </tr>
        </thead>

    {% if post_list %}
        <tbody>
        {% for post in post_list %}
            <tr>
                <td>{{ post.id }}</td>
                <td><a href="{% url 'post:detail' post.id %}">{{ post.title }}</a></td>
                <td>{{ post.content }}</td>
                <td>{{ post.create_date }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>질문이 없습니다.</tr>
    {% endif %}
        </tbody>
    </table>

     <a href="{% url 'post:create_post' %}" class="btn btn-primary">게시글 등록</a>
</div>

{% endblock %}